/* styles/globals.css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  text-align: center;
}

.task {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task .completed {
  text-decoration: line-through;
  color: gray;
}

button {
  margin-left: 10px;
}

label {
  margin: 10px;
}

select {
  padding: 5px;
  margin-left: 5px;
}
